<!--mat-slider min="1" max="100" step="1" value="1"></mat-slider>-->
<!--<mat-card>
<form class="normal-form">
    <mat-form-field class="normal-full-width">
      <mat-label>Enter Restaurant Name</mat-label>
      <input matInput [formControl]="nameFormControl" placeholder="Ex. Avi" value="Name">
      <mat-error *ngIf="nameFormControl.hasError('required')">
        Name is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="normal-full-width">
      <mat-label>Enter Restaurant Type</mat-label>
      <input matInput [formControl]="typeFormControl">
      <mat-error *ngIf="typeFormControl.hasError('required')" placeholder="Ex. italian">
        Type is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="normal-full-width">
      <mat-label>Enter Restaurant Location</mat-label>
      <input matInput [formControl]="locationFormControl">
      <mat-error *ngIf="locationFormControl.hasError('required')" placeholder="Ex. Dehradun">
        Location is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="normal-full-width">
      <mat-label>Enter contact </mat-label>
      <span matPrefix>+91 &nbsp;</span>
    <input type="tel" matInput [formControl]="telFormControl">
      <mat-error *ngIf="telFormControl.hasError('required')" placeholder="555-555-1234">
        Value is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="normal-full-width">
      <mat-label>Enter access value </mat-label>
      <input type="number" matInput [formControl]="acFormControl">
      <mat-error *ngIf="acFormControl.hasError('required')" placeholder="Ex. 10">
        Value is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="normal-full-width">
      <mat-label>Available Or Not</mat-label>
      <mat-select [formControl]="avControl" required>
        <mat-option *ngFor="let av of avs" [value]="av">
          {{av.name}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="avControl.hasError('required')">Please choose an option</mat-error>
       </mat-form-field>

       <mat-form-field class="normal-full-width">
        <mat-label>Image </mat-label>
        <input  matInput [formControl]="imgFormControl">
        <mat-error *ngIf="imgFormControl.hasError('required')" >
          Value is <strong>required</strong>
        </mat-error>
      </mat-form-field>
  </form>
  </mat-card>-->

 